<!DOCTYPE html>
<html>
  <head>
    <title>MiniProject</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to MiniProject</h1>
    <p>The web site where you can create your own sites!</p>
  </body>
</html>
